.detail-frame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 1em;
    margin: 0 auto;
    height: 115vh;
    width: 90%;
    color: white;
}

@media(min-width: 700px) {
    .detail-frame {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 auto;
    }
}