.containerFrame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}

.banner{
    width: 75vw;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sliderTitle{
    color: white;
    margin-top: 0.5em;
    margin-left: 0.5em;
}