.linkLogo{
    height: 6vh;
    margin-right: 2em;
}

.addToCartBtn{
    height: 46px;
    width: 46px;
    background-color: transparent;
    border-radius: 23px;
    border-style: none;
    border: none;
}

.cart{
    height: 5vh;
    margin-bottom: 0.2em;
}