.shape{
    width: 14vw;
    display: flex;
    flex-direction: row;
    margin: 1em 0 0.5em 0;
}

.itemCountSelector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    width: 75%;
}

.addToCartBtn{
    height: 46px;
    width: 46px;
    background-color: transparent;
    border-radius: 23px;
    border-style: none;
    border: none;
}

.cart{
    height: 5vh;
    margin-bottom: 0.2em;
}

.counter{
    color: rgb(30,30,30);
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 auto;
    text-align: center;
}

.counterBtn{
    background-color: transparent;
    border-style: none;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin: 1em;
}

.counterBtn:hover, .addToCartBtn:hover{
   background-color: rgba(0, 0, 0, 0.3);
}