.shape{
    display: flex;
    flex-direction: row;
    margin: 0.5em 0 0.5em 0;
}

.itemCountSelector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    width: 70%;
}

.counter{
    color: rgb(30,30,30);
    font-size:  1.5vw;
    margin: 0 auto;
    text-align: center;
}

.counterBtn{
    background-color: transparent;
    border-style: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 0.5em;
}

.counterBtn:hover, .addToCartBtn:hover{
   background-color: rgba(0, 0, 0, 0.3);
}